<section id="boxes">
    <div class="social_media">
      <div class="msgapps">
        <span>join us on</span>
          <!-- <i class="fab fa-facebook" style="color: #295396;"></i>
          <i class="fab fa-instagram instagram"></i> -->
          <i class="fab fa-whatsapp" style="color:rgb(6,215,85)"></i>
          <a href="https://t.me/bctpcsc">
            <i class="fab fa-telegram" style="color:#28a8ea"></i>
          </a>
      </div>
      <!-- <div class="textlocal">
        Our SMS Partner:<br>
        <a href="https://www.textlocal.in/?utm_source=referral&utm_medium=banner&utm_campaign=logo_branding_babbagecomputers.in&tlrx=logo_branding_ babbagecomputers.in"><img src="https://www.textlocal.in/assets/Textlocal_Bulk_SMS.svg" width="242" height="92" title="Textlocal Bulk SMS Partner" alt="Textlocal Bulk SMS Service"></a>
      </div> -->
    </div>

    <div class="container">
      <div class="box">
        <a href="https://www.youtube.com/channel/UCJM9IN0AUYqYIm2iRSn5HZA" target="_blank">
          <!-- <img src="./img/youtube_social_circle_red.png" alt="youtube"> -->
          <i class="fab fa-youtube" style="color: red;"></i>
          <h3>YouTube</h3>
        </a>
        <p>Subscribe to our youtube channel<br>watch our latest development videos, amazing tip and tricks related to technologies</p>
      </div>
      <div class="box">
        <a href="https://twitter.com/bctvizag" target="_blank">
          <i class="fab fa-twitter" style="color: #28a9e2;"></i>
          <!-- <img src="./img/twitter-icon.png" alt="twitter"> -->
          <h3>twitter </h3>
        </a>
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">How Setup BCT PCSC Canteen Software
            <a href="https://t.co/pzP8CPpAhN">https://t.co/pzP8CPpAhN</a></p>&mdash; Babbage Computer Technologies (@bctvizag) 
            <a href="https://twitter.com/bctvizag/status/1159446290192723968?ref_src=twsrc%5Etfw">August 8, 2019</a>
        </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="box">
        <a href="https://www.facebook.com/bct.vizag" target="_blank">
          <!-- <img src="./img/facebook_logo.png" alt="facebook"> -->
          <i class="fab fa-facebook" style="color: #295396;"></i>
          <h3>facebook </h3>
        </a>
        <p>follow on facebook<br>watch our latest development videos, amazing tip and tricks related to technologies</p>
      </div>
      <div class="box">
        <a href="https://www.instagram.com/bctvizag/" target="_blank">
          <img src="./assests/img/instagram-icon.png" alt="instagram">
          <h3>instagram</h3>
        </a>
        <p>follow on instagram<br>watch our latest development videos, amazing tip and tricks related to technologies</p>
      </div>
    </div>
  </section>